[Unit]
Description=RabbitMQ Proxy
After=network.target

[Service]
User=rammler
Group=rammler
WorkingDirectory=/var/lib/rammler
ExecStart=/bin/java -jar /usr/share/java/rammler.jar
EnvironmentFile=-/etc/sysconfig/rammler
Restart=on-failure

[Install]
WantedBy=multi-user.target
